.btn-custom {
    background: linear-gradient(45deg, #198754, #02c067);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, box-shadow 0.3s;
}

.bdrs {
    border-radius: 30px;
}

.btn-custom:hover {
    background: linear-gradient(45deg, #02c067, #198754);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    color: rgb(231, 231, 231);
}

.header-block {
    background: linear-gradient(45deg, #198754, #02c067) !important;
    color: white;
    border: 1px solid #dee2e6;
    border-radius: 40px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-block-min {
    background: linear-gradient(45deg, #198754, #02c067) !important;
    color: white;
    width: 50%;
    border: 1px solid #dee2e6;
    border-radius: 40px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-custom {
    border: 1px solid #dee2e6;
    font-size: 18px;
}

.table-responsive {
    border: 1px solid #dee2e6;
    border-radius: 40px !important;
}

.table-custom th,
.table-custom td {
    padding: 1.25rem;
    font-size: 1.55rem;
    background: none !important;
    border: none !important;
}


.btn-group-container {
    display: flex;
    flex-wrap: wrap;
}

.btn-group {
    display: flex;
}

.btn-sm {
    border-radius: 5px;
}

.bdrs {
    border-radius: 5px !important;
}

.custom-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #dee2e6;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox:checked {
    background: linear-gradient(45deg, #198754, #02c067);
    border-color: #198754;
}

.custom-checkbox:checked::after {
    content: '✔';
    display: block;
    color: rgba(7, 174, 21, 0.753);
    font-size: 16px;
    text-align: center;
    line-height: 20px;
}

.align-center {
    display: flex;
    align-items: center;
}

.form-check-label {
    margin-left: 8px;
    padding: 10px 0 0 0;
    /* Добавляем отступ между чекбоксом и меткой */
}

@media (max-width: 576px) {
    .btn-custom {
        font-size: 13px;
        padding: 12px 25px;
    }


    .table-custom {
        font-size: 16px;
    }

    .table-custom th,
    .table-custom td {
        padding: 0.75rem;
        font-size: 1.5rem;
    }

    .btn-sms {
        font-size: 14px;
        text-align: center !important;
    }

    .table-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        border: 1px solid #dee2e6;
        border-radius: 40px !important;
    }


    .btn-group-container {
        display: flex;
        flex-direction: column;
    }

    .btn-group {
        justify-content: center;
        width: 100%;
    }

    .header-block-min {
        background: linear-gradient(45deg, #198754, #02c067) !important;
        color: white;
        width: 80%;
        border: 1px solid #dee2e6;
        border-radius: 40px !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}